## ===== BASE FROM GitHub Dotnet.gitignore =====
## https://github.com/github/gitignore/blob/main/VisualStudio.gitignore
## https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Others
~$*
*~
*.tmp
*.bak
*.swp
*.DS_Store

# Code coverage
coverage/
CodeCoverage/
*.coverage
*.coveragexml

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/
.history/

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Docker
**/.dockerignore
docker-compose.override.yml
docker-compose.*.yml

# local secrets
secrets.json
appsettings.Development.json
appsettings.Local.json
